<nav aria-label="navigation">
  <ul class="pagination justify-content-center align-items-center">
    <li class="page-item">
      <a
        class="page-link"
        tabindex="0"
        aria-label="Previous Page"
        [attr.aria-disabled]="current === 1"
        [ngClass]="current === 1 ? 'cursor-not-allowed' : 'cursor-pointer'"
        (click)="onPrevious()"
        >Prev</a
      >
    </li>
    <li
      class="page-item"
      *ngFor="let page of pages"
      [class.active]="page === current"
    >
      <a
        *ngIf="page !== -1; else more"
        class="page-link cursor-pointer"
        [attr.aria-current]="page === current ? 'page' : null"
        [attr.aria-label]="
          page === current ? 'Current Page, Page ' + page : 'Go to Page ' + page
        "
        tabindex="0"
        (click)="onGoTo(page)"
        (keyup.enter)="onGoTo(page)"
      >
        {{ page }}</a
      >
    </li>

    <ng-template #more>
      <a class="more"> ... </a>
    </ng-template>

    <li class="page-item">
      <a
        class="page-link cursor-pointer"
        tabindex="0"
        aria-label="Next Page"
        [attr.aria-disabled]="current === total"
        [ngClass]="{ 'cursor-not-allowed': current === total }"
        (click)="onNext()"
        >Next</a
      >
    </li>
  </ul>
</nav>
