<form>
  <div class="form-group mb-3">
    <label for="table-search" class="col-sm-4 form-label visually-hidden"
      >Search</label
    >
    <div class="col-sm-8 input-group">
      <input
        type="text"
        id="table-search"
        class="form-control form-control-sm text-sm"
        placeholder="Type here to search in table.."
        aria-label="Type here to search in table.."
        aria-describedby="search-icon"
      />
      <span class="input-group-text" id="search-icon"
        ><i class="fas fa-search"></i
      ></span>
    </div>
  </div>
</form>
