<div class="search-form row mt-3 mb-4">
  <form class="col-sm-12" style="overflow: visible" role="search" name="f" #f (ngSubmit)="onSubmit(f)" novalidate>
    <fieldset class="field-grp row">
      <div class="search-bar position-relative">
        <input class="form-control" maxlength="100" name="q" type="text" aria-autocomplete="both" [(ngModel)]="query"
          aria-haspopup="false" autocapitalize="off" autocomplete="off" autocorrect="off" role="combobox"
          spellcheck="false" title="Search" aria-label="Search" placeholder="Search the collection" />
        <i *ngIf="query != '' && query != null" class="fas fa-times position-absolute clear cursor-pointer"
          (click)="resetForm(f)"></i>
      </div>
      <div class="search-button">
        <button class="btn bg-white w-100 search-btn">
          <i class="fas fa-search pe-2"></i>
          Search
        </button>
      </div>
    </fieldset>
  </form>
</div>
