<div class="row">
  <div class="col-sm-12">
    <button class="btn btn-sm btn-outline-default page-card-btn">
      <i class="fas fa-plus"></i>
      Add Product
    </button>
    <app-card>
      <div class="card-body">
        <div class="list-header row">
          <div class="col-sm-4 offset-sm-8 float-right">
            <table-search></table-search>
          </div>
        </div>
        <div class="list-body table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th *ngFor="let clmn of columns">
                  {{ clmn.name }}
                </th>
                <th class="text-center">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>Some title</td>
                <td>Techindeck</td>
                <td class="text-center">View/Edit/Delete</td>
              </tr>
              <tr>
                <td>2</td>
                <td>Some other title</td>
                <td>Techindeck</td>
                <td class="text-center">View/Edit/Delete</td>
              </tr>
              <!-- <tr *ngFor="let product of products; let key = index">
                    <td *ngFor="let clmn of columns">
                      <span>{{ product[clmn.key] }}</span>
                    </td>
                    <td class="text-center">
                      <ul class="list-unstyled mb-0 d-flex justify-content-center">
                        <li class="d-inline cursor-pointer">
                          <i
                            class="fas fa-pencil-alt mx-2"
                            aria-hidden="true"
                            tabindex="0"
                            aria-label="view products"
                            role="button"
                          ></i>
                        </li>

                        <li class="d-inline cursor-pointer">
                          <i
                            class="fas fa-trash-alt mx-2"
                            aria-hidden="true"
                            tabindex="0"
                            aria-label="delete classification"
                            role="button"
                            (click)="dropRowData(key)"
                          ></i>
                        </li>
                      </ul>
                    </td>
                  </tr>
                  <tr>
                    <td
                      *ngIf="loading"
                      class="loding-data text-center"
                      [colSpan]="columns.length + 1"
                    >
                      <svg class="spinner">
                        <circle cx="10" cy="10" r="8"></circle>
                      </svg>
                    </td>
                    <td
                      *ngIf="!loading && products.length < 1"
                      class="no-data text-center text-sm"
                      [colSpan]="columns.length + 1"
                    >
                      No data available
                    </td>
                  </tr> -->
            </tbody>
          </table>
        </div>
      </div>
    </app-card>
  </div>
</div>
