.main-sidebar {
  width: 230px;
  // box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22) !important;
  opacity: 1;
  inline-size: 230px;
  inset-inline: auto 0px;
  top: 0;
  height: 100%;
  block-size: 100%;
  // background-color: rgb(248, 248, 252);
  background-color: var(--bs-white);
  box-sizing: border-box;
  position: absolute;
  overflow: visible;
  inset-block-start: 0;
  .sidebar {
    height: calc(100% - (3.5rem + 1px));
    overflow-x: hidden;
    overflow-y: initial;
    padding-bottom: 0;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 2rem;
    .nav {
      padding-left: 5px;
      padding-right: 5px;
      padding-inline: 5px;
    }
  }
}
