<div class="row">
  <div class="col-3">
    <app-card>
      <div class="card-header bg-transparent py-3">To Do</div>
      <div class="card-body">
        <ul class="todo-list ui-sortable" data-widget="todo-list">
          <li>
            <span class="handle ui-sortable-handle">
              <i class="fas fa-ellipsis-v"></i>
            </span>
            <span class="text">Design a nice theme</span>
            <small class="badge badge-danger"
              ><i class="far fa-clock"></i> 2 mins</small
            >
            <!-- <div class="tools">
                  <i class="fas fa-edit"></i>
                  <i class="fas fa-trash-o"></i>
                </div> -->
          </li>
          <li>
            <span class="handle ui-sortable-handle">
              <i class="fas fa-ellipsis-v"></i>
            </span>
            <span class="text">Design a nice theme</span>
            <small class="badge badge-danger"
              ><i class="far fa-clock"></i> 2 mins</small
            >
          </li>
          <li>
            <span class="handle ui-sortable-handle">
              <i class="fas fa-ellipsis-v"></i>
            </span>
            <span class="text">Design a nice theme</span>
            <small class="badge badge-danger"
              ><i class="far fa-clock"></i> 2 mins</small
            >
          </li>
        </ul>
      </div>
    </app-card>
  </div>
  <div class="col-3">
    <app-card>
      <div class="card-header bg-transparent py-3">In Progress</div>
      <div class="card-body">
        <ul class="todo-list ui-sortable" data-widget="todo-list">
          <li>
            <span class="handle ui-sortable-handle">
              <i class="fas fa-ellipsis-v"></i>
            </span>
            <span class="text">Design a nice theme</span>
            <small class="badge badge-danger"
              ><i class="far fa-clock"></i> 2 mins</small
            >
            <!-- <div class="tools">
                  <i class="fas fa-edit"></i>
                  <i class="fas fa-trash-o"></i>
                </div> -->
          </li>
          <li>
            <span class="handle ui-sortable-handle">
              <i class="fas fa-ellipsis-v"></i>
            </span>
            <span class="text">Design a nice theme</span>
            <small class="badge badge-danger"
              ><i class="far fa-clock"></i> 2 mins</small
            >
          </li>
          <li>
            <span class="handle ui-sortable-handle">
              <i class="fas fa-ellipsis-v"></i>
            </span>
            <span class="text">Design a nice theme</span>
            <small class="badge badge-danger"
              ><i class="far fa-clock"></i> 2 mins</small
            >
          </li>
        </ul>
      </div>
    </app-card>
  </div>
  <div class="col-3">
    <app-card>
      <div class="card-header bg-transparent py-3">Completed</div>
      <div class="card-body">
        <ul class="todo-list ui-sortable" data-widget="todo-list">
          <li>
            <span class="handle ui-sortable-handle">
              <i class="fas fa-ellipsis-v"></i>
            </span>
            <span class="text">Design a nice theme</span>
            <small class="badge badge-danger"
              ><i class="far fa-clock"></i> 2 mins</small
            >
            <!-- <div class="tools">
                  <i class="fas fa-edit"></i>
                  <i class="fas fa-trash-o"></i>
                </div> -->
          </li>
          <li>
            <span class="handle ui-sortable-handle">
              <i class="fas fa-ellipsis-v"></i>
            </span>
            <span class="text">Design a nice theme</span>
            <small class="badge badge-danger"
              ><i class="far fa-clock"></i> 2 mins</small
            >
          </li>
          <li>
            <span class="handle ui-sortable-handle">
              <i class="fas fa-ellipsis-v"></i>
            </span>
            <span class="text">Design a nice theme</span>
            <small class="badge badge-danger"
              ><i class="far fa-clock"></i> 2 mins</small
            >
          </li>
        </ul>
      </div>
    </app-card>
  </div>
   <div class="col-3">
    <app-card>
      <div class="card-header bg-transparent py-3">Completed</div>
      <div class="card-body">
        <ul class="todo-list ui-sortable" data-widget="todo-list">
          <li>
            <span class="handle ui-sortable-handle">
              <i class="fas fa-ellipsis-v"></i>
            </span>
            <span class="text">Design a nice theme</span>
            <small class="badge badge-danger"
              ><i class="far fa-clock"></i> 2 mins</small
            >
            <!-- <div class="tools">
                  <i class="fas fa-edit"></i>
                  <i class="fas fa-trash-o"></i>
                </div> -->
          </li>
          <li>
            <span class="handle ui-sortable-handle">
              <i class="fas fa-ellipsis-v"></i>
            </span>
            <span class="text">Design a nice theme</span>
            <small class="badge badge-danger"
              ><i class="far fa-clock"></i> 2 mins</small
            >
          </li>
          <li>
            <span class="handle ui-sortable-handle">
              <i class="fas fa-ellipsis-v"></i>
            </span>
            <span class="text">Design a nice theme</span>
            <small class="badge badge-danger"
              ><i class="far fa-clock"></i> 2 mins</small
            >
          </li>
        </ul>
      </div>
    </app-card>
  </div>
</div>
