<div style="width: 100%" id="list">
  <div class="table-responsive scroller">
    <table class="table mb-4 table-hover">
      <thead>
        <tr>
          <th [style.width]="'15%'">Image</th>
          <th [style.width]="'20%'">Title</th>
          <th [style.width]="'20%'">Artist</th>
          <th [style.width]="'7%'">Date</th>
          <th [style.width]="'8%'">Medium</th>
          <th [style.width]="'15%'">DIMENSIONS</th>
          <th [style.width]="'15%'">Accession NUMBER</th>
        </tr>
      </thead>
      <tbody>
        <tr class="list-text placeholder-glow">
          <td>
            <div class="list-img">

            </div>
          </td>
          <td> <span class="placeholder col-10">

            </span></td>
          <td> <span class="placeholder col-7"></span></td>
          <td> <span class="placeholder col-7"></span></td>
          <td> <span class="placeholder col-7"></span></td>
          <td> <span class="placeholder col-7"></span></td>
          <td> <span class="placeholder col-7"></span></td>
          <td> <span class="placeholder col-10"></span></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
