// .navbar{
//   padding-top: 1rem;
//   padding-bottom: 1rem;
// }

.left-option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: SFUIText-Medium, geometria-Medium, Helvetica Neue, sans-serif;
  font-size: 20px;
  // font-size: 1.3rem;
  font-weight: 600;
  .navbar-brand,
  i {
    display: block;
  }
  .navbar-brand {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--bs-aamras-dark);
    // font-size: 1.3rem;
    // font-weight: bold;
    // &::before {
    //   content: "";
    //   background-image: url(/assets/images/logo.svg);
    //   background-position: center;
    //   background-size: contain;
    //   width: 30px;
    //   height: 30px;
    //   border-radius: 100%;
    //   // border:1px solid;
    //   // padding: 2px;
    //   object-fit: contain;
    //   background-repeat: no-repeat;
    // }
  }
}
.right-option {
  color: var(--bs-aamras-dark);
  display: flex;
  align-items: center;
  justify-content: space-between;
  .navbar-badge {
    font-size: 0.7rem;
    padding: 2px 4px;
    position: absolute;
    right: -10px;
    top: -5px;
    color: var(--bs-kohl);
  }
}
