<div class="notification-cnt">
  <div class="row content-cnt">
    <div class="col-sm-12 mt-3">
      <!-- recent -->
      <div class="row" *ngIf="nfyData.length > 0">
        <div class="col-12">
          <span class="grp-lable"><b>Recent</b> </span>
          &nbsp;&nbsp;

          <span class="badge badge-warning d-inline align-items-center">{{
            nfyData.length
          }}</span>
          <div
            class="row cursor-pointer ntf-cnt"
            *ngFor="let item of nfyData; let i = index"
          >
            <div class="col-md-1 col-sm-2 text-center">
              <figure class="figure">
                <i class="far fa-user-circle"></i>
              </figure>
            </div>
            <div class="col-sm-8 msg">
              <p class="mb-0">
                <strong> {{ item.causer }}</strong>
                {{
                  item.eventType == "Created" ? "create a new" : "updated an"
                }}
                object record of Accession {{ item.accession }}
              </p>
              <small class="text-gulabi"
                >{{ item.created_at | date : "dd-MM-yyyy  hh:mm:ss" }}
              </small>
            </div>
            <div class="col-sm-2 text-right">
              <div
                class="d-flex justify-content-end align-items-center"
                style="height: 1rem"
              >
                <div class="dropleft dropdown" style="margin-right: 1rem">
                  <button
                    type="button"
                    class="mr-2 bg-transparent border-0"
                    data-bs-auto-close="true"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    <i class="fas fa-ellipsis-h"></i>
                  </button>
                  <div class="dropdown-menu p-1 shadow bg-default">
                    <a class="dropdown-item" style="font-size: small"
                      ><i class="fas fa-check"></i> &nbsp; Mark as read</a
                    >
                    <a class="dropdown-item" style="font-size: small"
                      ><i class="far fa-window-close"></i> &nbsp; Remove
                      notification</a
                    >
                  </div>
                </div>

                <!-- <div class="unread-indicator" *ngIf="item.read_at == null">
                  <i class="fas fa-circle"></i>
                </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- no data -->
      <div class="row">
        <div class="col-sm-12">
          <div *ngIf="nfyData.length == 0">No notification available</div>
        </div>
      </div>
    </div>
  </div>
</div>
