<div class="object-card" aria-hidden="true">
  <a>
    <figure class="figure">
      <div class="card-img d-flex align-items-center">
        <!-- <img src="assets/images/no_img_ico.svg" class="card-img-top" alt="image placeholder" /> -->
      </div>

      <div class="card-caption sbg-white">
        <p class="placeholder col-6"></p>

        <h5 class="card-title placeholder-glow">
          <span class="placeholder col-10"></span>
        </h5>

        <div class="mt-2">
          <p class="card-text placeholder-glow">
            <span class="placeholder col-7"></span>
            <span class="placeholder col-4"></span>
            <span class="placeholder col-4"></span>
            <span class="placeholder col-6"></span>
            <span class="placeholder col-8"></span>
          </p>
        </div>
      </div>
    </figure>
  </a>
</div>
