.object-card {
  height: var(--card-height);
  width: 100%;
  .figure {
    height: 100%;
    width: 100%;
    .card-img {
      background: var(--card-image-placeholder-background-color) 0% 0% no-repeat
        padding-box;
      display: block;
      height: var(--card-image-height);
      .img {
        width: 100%;
        height: auto;
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
      }
    }
    .card-caption {
      background-color: var(--color-white);
      height: var(--card-caption-height);
      padding: var(--card-caption-padding);
    }
  }
  .artist-color {
    color: var(--pagination-background-color);
  }
  .acces-num {
    font-size: smaller;
    color: var(--font-background-color);
  }
}
@media only screen and (max-width: 600px) {
  .card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-auto-flow: dense;
    column-gap: 1rem;
    row-gap: 1.5rem;
    margin: 100px;
  }
}
@media (min-width: 768px) {
}
