<div class="flex items-center justify-center h-full p-3">
  <div>
    <div class="max-w-3xl p-4 bg-white rounded-lg shadow sm:p-8 dark:bg-gray-800 dark:border-gray-700">
      <div class="max-w-lg">
        <h5 class="mb-3 text-3xl font-semibold text-gray-900 dark:text-white">
          Quick Admin Panel
        </h5>

        <p class="mb-5 text-sm font-medium text-gray-500 dark:text-gray-300">
          Stay up to date and move work forward with Flowbite on iOS & Android. Download the app today.
        </p>

        <h2 class="mb-2 text-lg font-medium text-gray-900 dark:text-white">Building Dashboard</h2>
        <ul class="max-w-md space-y-2 text-gray-500 list-inside dark:text-gray-400">
          <li class="flex items-center">
            <svg
              class="w-4 h-4 me-2 text-green-500 dark:text-green-400 flex-shrink-0"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              viewBox="0 0 20 20"
            >
              <path
                d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"
              />
            </svg>
            Building profile
          </li>
          <li class="flex items-center">
            <svg
              class="w-4 h-4 me-2 text-green-500 dark:text-green-400 flex-shrink-0"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              viewBox="0 0 20 20"
            >
              <path
                d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"
              />
            </svg>
            Loading assets
          </li>
          <li class="flex items-center">
            <div role="status">
              <svg
                aria-hidden="true"
                class="w-4 h-4 me-2 text-gray-200 animate-spin dark:text-gray-600 fill-blue-600"
                viewBox="0 0 100 101"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                  fill="currentColor"
                />
                <path
                  d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                  fill="currentFill"
                />
              </svg>
              <span class="sr-only">Loading...</span>
            </div>
            Configuring dashboard
          </li>
        </ul>
      </div>
    </div>

    <!--  setup company info such as build by -->
    <div class="max-w-xl mt-28" aria-label="Subscribe to the Flowbite newsletter">
      <div class="text-center">
        <!-- <p class="text-sm font-medium text-gray-500 dark:text-gray-300">
          Develope and maintain by
        </p> -->
        <h3 class="text-xl font-medium text-gray-500 dark:text-white">Techindeck</h3>
        <!-- <svg
          class="h-16 w-16 mx-auto mb-2 text-gray-400 dark:text-gray-500"
          xmlns="http://www.w3.org/2000/svg"
          width="2401.5"
          height="1158.579"
          viewBox="0 0 2401.5 1158.579"
        >
          <g id="techindeck-with-text" transform="translate(-534.5 -463)">
            <g id="techindeck">
              <g id="techandinnovation">
                <g id="Group_31" data-name="Group 31">
                  <rect
                    id="Rectangle_15"
                    data-name="Rectangle 15"
                    width="148.58"
                    height="325.132"
                    transform="translate(700.781 720.178)"
                  />
                  <rect
                    id="Rectangle_16"
                    data-name="Rectangle 16"
                    width="620.43"
                    height="98.5"
                    transform="translate(534.5 641.989)"
                  />
                </g>
                <path
                  id="Path_13"
                  data-name="Path 13"
                  d="M166.869,0c40.795,0,73.868,32.589,73.868,72.789s-33.073,72.789-73.868,72.789S93,112.989,93,72.789,126.074,0,166.869,0"
                  transform="translate(608.201 463)"
                  fill="#3e9e97"
                />
              </g>
              <g id="deck">
                <path
                  id="Path_12"
                  data-name="Path 12"
                  d="M310.209,300.227C138.892,300.227,0,439.119,0,610.447S138.892,920.657,310.209,920.657,620.43,781.776,620.43,610.447s-138.892-310.22-310.22-310.22m0,472.237A162.017,162.017,0,1,1,472.228,610.447,162.015,162.015,0,0,1,310.209,772.464"
                  transform="translate(534.5 700.923)"
                  fill="#3e9e97"
                />
                <rect
                  id="Rectangle_17"
                  data-name="Rectangle 17"
                  width="147.458"
                  height="523.035"
                  transform="translate(1006.51 767.988)"
                  fill="#3e9e97"
                />
              </g>
            </g>
            <text
              id="Technology_Innovation_Deck"
              data-name="Technology
Innovation
Deck"
              transform="translate(1345 802)"
              font-size="280"
              font-family="SFUIText-Semibold, SF UI Text"
              font-weight="600"
            >
              <tspan x="0" y="0">Technology</tspan>
              <tspan x="0" y="340">Innovation</tspan>
              <tspan x="0" y="680">Deck</tspan>
            </text>
          </g>
        </svg> -->
      </div>

      <div class="mb-2 text-center font-medium text-sm text-gray-500 dark:text-gray-300">
        Copyright &copy; {{ date | date: 'yyyy' }} Techindeck
      </div>
      <div class="text-center text-sm font-medium text-gray-500 dark:text-gray-300">
        <a
          rel="nofollow"
          target="_blank"
          href="https://convertkit.com/terms"
          class="text-blue-600 hover:underline dark:text-blue-500"
          >Terms of Service</a
        >
        and
        <a
          rel="nofollow"
          target="_blank"
          class="text-blue-600 hover:underline dark:text-blue-500"
          href="https://convertkit.com/privacy"
          >Privacy Policy</a
        >.
      </div>
    </div>
  </div>
</div>
