/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/@fortawesome/fontawesome-free/css/all.min.css";
@import "./app/shared/fonts/fonts";
@import "ngx-toastr/toastr";
@import "@ng-select/ng-select/themes/default.theme.css";

// colors
:root {
  --bs-white: #ffffff;
  --bs-kohl: #000000;
  --bs-aamras: #ffa300;
  --bs-aamras-dark: #e19208;
  --bs-baingani: #500778;
  --bs-gulabi: #d0006f;
  --bs-sharbati: #d50032;
  --bs-ferozi: #5cb8b2;
  --bs-anti-flash-white: #eeeff6;
  --bs-platinum: #e4e4e6;
  --bs-platinum-light: #e4e4e630;
  --bs-light-white: #f2f5fa;

  // Card Related Variables
  --card-height: 520px;
  --list-height: 220px;

  --card-image-placeholder-background-color: #d6d6d6;
  --list-image-placeholder-background-color: #d6d6d6;
  --card-image-height: 350px;
  --list-image-height: 200px;

  --card-caption-height: 170px;
  --list-caption-height: 170px;
  --card-caption-padding: 1rem;
  --list-caption-padding: 1rem;

  // --card-width: 100%;
  // --page-background-color: #EAEAEA ;
  --pagination-background-color: #6ea5a1;
  --page-background-color: #f2f2f2;
  --form-control-min-height: 2.5rem;
  --mute-background-color: #848484;

  // Fonts
  --font-family: "SFUIText", "geometria", "Source Sans Pro", -apple-system,
    "leitura-news", BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

html,
body {
  height: 100%;
}
body {
  font-family: var(--font-family);
  font-size: 15px;
  font-weight: 300;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  line-height: 1.2;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  flex: 1;
  text-size-adjust: 100%;
  -ms-content-zooming: none;
  overflow: hidden;
  background-color: var(--bs-light-white);
}

a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}

nav-breadcrumb {
  display: inline-block;
}

// .breadcrumb {
//   display: flex;
//   flex-wrap: wrap;
//   padding: 0.75rem 1rem;
//   margin-bottom: 1rem;
//   list-style: none;
//   background-color: transparent;
//   line-height: 1.8rem;
//   margin: 0;
//   padding: 0;
//   border-radius: 0.25rem;
//   .breadcrumb-item.active {
//     color: #6c757d;
//   }
//   .breadcrumb-item + .breadcrumb-item {
//     padding-left: 0.5rem;
//   }
//   .breadcrumb-item + .breadcrumb-item::before {
//     float: left;
//     padding-right: 0.5rem;
//     color: #6c757d;
//     content: "/";
//   }
//   .breadcrumb-header h1 {
//     margin: 0;
//     font-family: SFUIText-Medium, geometria-Medium, Arial, Helvetica, sans-serif;
//     font-size: calc(0.7rem + 1vw);
//   }
// }

.content-header {
  padding: 15px 0.7rem;
  .container-fluid {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.content {
  padding: 0.7rem;
  .card .card-body {
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
  }
}

// Sidebar nav
.nav-title {
  width: 100%;
  font-family: SFUIText-Medium, geometria-Medium, Arial, Helvetica, sans-serif;
  font-size: medium;
  font-weight: 400;
  margin: 0.7rem 0.5rem;
}

.nav-item {
  height: 32px;
  // width: 100%;
  margin: 0rem 0.5rem 0.6rem;
  padding: 0px 10px;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  position: relative;
  display: flex;
  flex: 1;
  cursor: pointer;
  -webkit-box-align: center;
  align-items: center;
  border-radius: 8px;
  box-sizing: border-box;
  block-size: 32px;
  margin-block-end: 10px;
  background: none;
  opacity: 1;
  &.active {
    background: var(--bs-platinum);
    .nav-symbol {
      color: var(--bs-aamras-dark);
    }
  }

  &:hover {
    .nav-symbol {
      color: var(--bs-aamras);
    }
  }
  .nav-symbol {
    margin-left: -2px;
    margin-right: 6px;
    padding-left: 0px;
    margin-inline: -2px 6px;
  }
  .nav-text {
    font-size: 14px;
    font-family: SFUIText, Helvetica, sans-serif;
    font-weight: 400;
    letter-spacing: -0.22px;
    line-height: 20px;
    flex: 1 1 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    margin: 0;
  }
}

// Button Outline classes
.btn-outline-default {
  border-color: var(--bs-aamras);
  color: var(--bs-aamras);
  &:hover,
  &:visited,
  &:active,
  &:focus {
    background-color: var(--bs-aamras);
    color: var(--bs-white);
  }
}

.btn-outline-kohl {
  border-color: var(--bs-kohl);
  color: var(--bs-kohl);
  &:hover,
  &:visited,
  &:active,
  &:focus {
    background-color: var(--bs-kohl);
    color: var(--bs-white);
  }
}
.btn-outline-confirm {
  border-color: var(--bs-sharbati);
  color: var(--bs-sharbati);
  &:hover,
  &:visited,
  &:active,
  &:focus {
    background-color: var(--bs-sharbati);
    color: var(--bs-white);
  }
}

.page-card-btn {
  position: absolute;
  top: 25px;
  right: 1.5rem;
}

.form-btn {
  width: calc(4em + 1vw);
}
.btn-sm {
  min-width: 80px;
}

// Spinner
$spinnerSize: 20;

svg.spinner {
  width: $spinnerSize + px;
  height: $spinnerSize + px;
  x: 0px;
  y: 0px;
  viewbox: 0 0 $spinnerSize $spinnerSize;

  circle {
    fill: transparent;
    stroke: #212121;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-dasharray: (3.14 * $spinnerSize);
    -webkit-transform-origin: (0.5px * $spinnerSize) (0.5px * $spinnerSize) 0;
    -moz-transform-origin: (0.5px * $spinnerSize) (0.5px * $spinnerSize) 0;
    -ms-transform-origin: (0.5px * $spinnerSize) (0.5px * $spinnerSize) 0;
    -o-transform-origin: (0.5px * $spinnerSize) (0.5px * $spinnerSize) 0;
    transform-origin: (0.5px * $spinnerSize) (0.5px * $spinnerSize) 0;
    -webkit-animation: spinner 2s linear infinite;
    -moz-animation: spinner 2s linear infinite;
    -ms-animation: spinner 2s linear infinite;
    -o-animation: spinner 2s linear infinite;
    animation: spinner 2s linear infinite;
  }
}

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    stroke-dashoffset: (0.66 * $spinnerSize);
  }
  50% {
    -webkit-transform: rotate(720deg);
    stroke-dashoffset: (3.14 * $spinnerSize);
  }
  100% {
    -webkit-transform: rotate(1080deg);
    stroke-dashoffset: (0.66 * $spinnerSize);
  }
}

@-moz-keyframes spinner {
  0% {
    -moz-transform: rotate(0deg);
    stroke-dashoffset: (0.66 * $spinnerSize);
  }
  50% {
    -moz-transform: rotate(720deg);
    stroke-dashoffset: (3.14 * $spinnerSize);
  }
  100% {
    -moz-transform: rotate(1080deg);
    stroke-dashoffset: (0.66 * $spinnerSize);
  }
}

@-ms-keyframes spinner {
  0% {
    -ms-transform: rotate(0deg);
    stroke-dashoffset: (0.66 * $spinnerSize);
  }
  50% {
    -ms-transform: rotate(720deg);
    stroke-dashoffset: (3.14 * $spinnerSize);
  }
  100% {
    -ms-transform: rotate(1080deg);
    stroke-dashoffset: (0.66 * $spinnerSize);
  }
}

@-o-keyframes spinner {
  0% {
    -o-transform: rotate(0deg);
    stroke-dashoffset: (0.66 * $spinnerSize);
  }
  50% {
    -o-transform: rotate(720deg);
    stroke-dashoffset: (3.14 * $spinnerSize);
  }
  100% {
    -o-transform: rotate(1080deg);
    stroke-dashoffset: (0.66 * $spinnerSize);
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
    stroke-dashoffset: (0.66 * $spinnerSize);
  }
  50% {
    transform: rotate(720deg);
    stroke-dashoffset: (3.14 * $spinnerSize);
  }
  100% {
    transform: rotate(1080deg);
    stroke-dashoffset: (0.66 * $spinnerSize);
  }
}

.cursor-pointer {
  cursor: pointer;
  &:hover {
    color: var(--bs-aamras-dark);
  }
}
.required {
  color: #ff0000;
}

.text-aamras {
  color: var(--bs-aamras);
}

.legend {
  font-size: 1.5em;
}

.fa {
  font-family: "Font Awesome 5 Free" !important;
}

.table thead th {
  white-space: nowrap;
}

.fieldset {
  border-width: 1.5px;
  border-color: var(--bs-aamras);
  border-style: dashed;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  .legend {
    float: inherit;
    width: auto;
    padding: 0 10px;
    margin: 0 2rem;
    color: var(--bs-aamras);
    font-size: calc(0.5em + 0.6vw);
  }
}

.border-default {
  border: 1px dashed var(--bs-aamras);
}

//Modal dialogue
.modal-header {
  border-bottom: 0px solid var(--bs-aamras);
  .modal-title {
    font-size: calc(0.8em + 0.5vw);
  }
  .btn-close {
    width: 0.5em;
    height: 0.5em;
    margin: 0;
    padding: calc(1rem * 0.2) calc(1rem * 0.2);
  }
  i {
    color: var(--bs-aamras);
  }
}
.modal-footer {
  border-top: 0px solid var(--bs-aamras);
}

.modal-header,
.modal-footer {
  background-color: var(--bs-platinum-light);
}

// background

.bg-aamras {
  background-color: var(--bs-aamras);
}
.bg-light-white {
  background-color: var(--bs-light-white);
}

.img-thumbnail {
  height: 200px;
  width: 200px;
  border-width: 0.125rem;
  border-color: #8c9196;
  border-style: dashed;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin: auto;
  background-color: var(--bs-white);
  // border-radius: 8px;
  // -webkit-border-radius: 8px;
  // -moz-border-radius: 8px;
  // -ms-border-radius: 8px;
  // -o-border-radius: 8px;
  position: relative;
  &::before {
    content: "\f1c5";
    color: #9b9b9b;
    font-weight: 700;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.5rem;
    z-index: 1;
    font-family: "Font Awesome 5 Free";
  }
}
.dropdown-menu {
  border: none;
}
